<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss} | [%t] | %-5p %c{3} | (%F:%L) - %m%n</Property>
        <Property name="log-dir">logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <File name="File" fileName="${log-dir}/news-log.log">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>